@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: lightgray;
    height: 100vh;
    width: 100%;
}

header {
    background-color: gray;
    padding: 1em;

    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
}

h1, nav {
    border: 1px solid black;
}

h1 {
    color: white;
    flex: 0 0 200px;
}

nav {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
}

nav > a {
    color: white;
    background-color: black;
    padding: 5px;
    margin: 5px;
    text-decoration: none;
}

nav > a:hover {
    color: black;
    background-color: white;
    transition: all 0.4 ease;
} 

main {
    background-color: white;
    border-radius: 10px;
    margin: 1em;
    padding: 1em;
}