@charset "UTF-8";

/* configurações gerais */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

h1, h2 {
    padding: 0.5em 5px 1em;
} 

p {
    margin: 0 5px;
    text-align: justify;
}

body {
    height: 100vh;
    width: 100%;
}

/* site */

header {

}


.section__flex {
    background-color: rgb(204, 204, 204);
    padding: 1em 0.5em;
    margin: 1em 0;

    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
}

article {
    margin-bottom: 1em;
}

article.text-media {
    display: flex;
    flex-flow: row wrap;
    gap: 0.5em;
}

article.media-text {
    display: flex;
    flex-flow: row wrap-reverse;
    gap: 0.5em;
}

article > .text {
    flex: 1 1 400px;
}

article > .media {
    background-color: rgb(19, 160, 19);
    border: 1px solid black;
    margin: 1em 0;
    height: 400px;
    width: 400px;

    flex: 1 0 400px;
}