@charset "UTF-8";

.container {
    border: 3px solid rgb(0, 164, 0);
    display: grid;
    grid-template: repeat(3, 100px) / repeat(4, 1fr);
    grid-gap: 0.5em;
    color: white;
}

.caixa1, .caixa2, .caixa3 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.caixa1 {
    background-color: red;
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 5;
}

.caixa2 {
    background-color: green;
    grid-row-start: 2;
    grid-row-end: 4;
    grid-column-start: 1;
    grid-column-end: 3;
}

.caixa3 {
    background-color: blue;
    grid-row-start: 2;
    grid-row-end: 4;
    grid-column-start: 3;
    grid-column-end: 5;
}