@charset "UTF-8";

.container {
    border: 3px solid rgb(0, 164, 0);
    display: grid;
    grid-template: repeat(3, 100px) / repeat(4, 1fr);
    grid-gap: 0.5em;
    color: white;
}

.caixa1, .caixa2, .caixa3 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.caixa1 {
    background-color: red;
    /* grid-row: 1 / 2;
    grid-column: 1 / span 4; */
    grid-area: 1 / 1 / 2 / span 4;
}

.caixa2 {
    background-color: green;
    /* grid-row: 2 / 4;
    grid-column: 1 / span 2; */
    grid-area: 2 / 1 / 4 / span 2;
}

.caixa3 {
    background-color: blue;
    /* grid-row: 2 / 4;
    grid-column: 3 / span 2; */
    grid-area: 2 / 3 / 4 / span 2;
}