@charset "UTF-8";

*{
    font-family: Arial, Helvetica, sans-serif;
    /*height: 100%*/
}
body{
    background-image: linear-gradient(to right, #f25c5c, #f29999)
}
main{
    background-color:white;
    border-radius: 5px;
    box-shadow: 5px 5px 15px #6b0e0ea7;
    /*para o lado - para baixo - espalhamento - cor*/
    width: 600px; /*largura do fundo*/
    padding: 10px;
    margin: auto;
}
h1{
    color: #f20707;
    text-align: center;
    text-shadow: 1px 1px 2px #b6070762;
}
h2{
    color:#f20707;
}
p{
    text-align: justify;
}