@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}
html, body {
    height: 100vh;
    width: 100vw;
    background-color: rgb(213, 213, 213);
}
h1{
    padding: 14px 0px;
}

/* header */

header, nav {
    background-color: gray;
    color: white;
    text-align: center;
}
button {
    display: none;
    background-color: gray;
    border: none;
}
ul {
    padding: 0.5em;
}
li {
    display: inline;
}
a {
    color: white;
    text-decoration: none;
    padding: 4px;
    background-color: rgb(93, 93, 93);    
}

/* main */

main {
    padding: 12px;
}
section {
    background-color: white;
    border-radius: 10px;
    padding: 0.5em 2em;
    margin: auto;
    max-width: 500px;
}
p {
    text-align: justify;
}